@charset "UTF-8";
/* ==== 宣告 全域設定 ==== */
:root {
  --line-height-default: 2;
  --color-primary: #1FAC79;
  --color-secondary: #0aa073;
  --fsize-default: 16px;
  --fs-subhead: clamp(1.388em, 1.57vw, 1.66em);
  --fz-h1: clamp(1.625rem, 2.5vw, 2rem);
  --fz-h2: clamp(1.4125rem, 2.5vw, 1.875rem);
  --fz-h3: clamp(1.375rem, 2.5vw, 1.625rem);
  --fz-h4: clamp(1.25rem, 2.5vw, 1.5rem);
  --fz-h5: clamp(1.1875rem, 2vw, 1.4125rem);
  --fz-h6: clamp(1.125rem, 1.8vw, 1.375rem);
  --fz-sm: 0.9375em;
  --w-container: 1420px;
  --w-container-lg: 1740px;
  --h-btn: 48px;
  --h-btn-lg: 54px;
  --h-header: 90px;
  --gap: 25px;
  --padding-spac: 25px;
}

/* 
 * 頁面 Loading
 */
.loading-animation {
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1) url(../images/white_open.png) no-repeat 0 0/cover;
  opacity: 1;
}

.loading-animation.js-loaded {
  opacity: 0;
  animation: ani_loading_page 1.5s both;
}

@keyframes ani_loading_page {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 區塊 Loading
 */
.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  background: currentColor;
  color: rgba(209, 188, 164, 0.8);
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.loader::after, .loader::before {
  content: "";
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

.swiper-initialized .loader {
  display: none;
  animation: ani_fade_out 0.35s both;
}

@keyframes animloader {
  0% {
    height: 48px;
  }
  100% {
    height: 4px;
  }
}
:root {
  --ff-serif: "Noto Serif TC", "PMingLiU", sans-serif;
  --gap: 25px;
  --fs-head-title: clamp(1.66rem, 2.44vw, 2.5rem);
  --fs-list-title: clamp(1.38rem, 2.183vw, 2.22rem);
  --kanban-button: red;
  --plyr-control-spacing: 20px;
  --plyr-color-main: #e6a351;
}

/*
 * 輪播 - 橫幅
 */
.scrolldown {
  cursor: pointer;
  position: absolute;
  width: 35px;
  height: 48px;
  bottom: 50px;
  left: 50%;
  margin-left: -17px;
  z-index: 50;
  border-radius: 24px;
  border: 2px solid #fff;
}
.scrolldown::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 50%;
  top: 10px;
  margin-left: -2px;
  background: #fff;
  border-radius: 50%;
  animation: up-down 1.5s linear infinite;
}

@keyframes up-down {
  0% {
    top: 12px;
  }
  24% {
    top: 18px;
  }
  50% {
    top: 30px;
  }
  74% {
    top: 18px;
  }
  100% {
    top: 12px;
  }
}
.c-kanban {
  background: #000;
}
.c-kanban.hide-deco-text .c-kanban__text {
  opacity: 0 !important;
  pointer-events: none;
  animation: ani_fade_out 0.35s both;
}
.c-kanban.carousel {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.c-kanban.carousel:not(.swiper-initialized) {
  background: #000;
}
.c-kanban.carousel:not(.swiper-initialized) .swiper-slide {
  opacity: 0;
}
.c-kanban.carousel.swiper-initialized .c-kanban__text {
  opacity: 1;
  animation: ani_fade_in 1s 0.2s both;
}
.c-kanban.carousel .swiper-slide-active .c-kanban__media {
  animation: ani_kanban_in 1s both;
}
.c-kanban.carousel .swiper-slide-active .c-kanban__text::after {
  animation: ani_kanban_in_text_deco 0.5s 0.7s both;
}
.c-kanban.carousel .swiper-slide-active .c-kanban__text > *:nth-child(1) .char {
  animation: ani_kanban_in_text 0.8s ease-in-out 0.3s both;
}
.c-kanban.carousel .swiper-slide-active .c-kanban__text > *:nth-child(2) .char {
  animation: ani_kanban_in_text 0.8s ease-in-out 0.6s both;
}
.c-kanban.carousel .swiper-slide-active .c-kanban__text > *:nth-child(3) .char {
  animation: ani_kanban_in_text 0.8s ease-in-out 0.9s both;
}
.c-kanban.carousel .swiper-button-prev, .c-kanban.carousel .swiper-button-next {
  display: none !important;
  color: var(--kanban-button);
  position: absolute;
  z-index: 15;
}
.c-kanban.carousel .swiper-button-prev:after, .c-kanban.carousel .swiper-button-prev:after, .c-kanban.carousel .swiper-button-next:after, .c-kanban.carousel .swiper-button-next:after {
  font-size: 2.5rem;
}
.c-kanban.carousel .swiper-button-prev {
  left: 25px;
}
.c-kanban.carousel .swiper-button-next {
  right: 25px;
}
.c-kanban.carousel .swiper-pagination {
  z-index: 15;
  position: absolute;
  right: max(20px, 4.5vw);
  left: auto;
  top: 50%;
  width: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-50%);
}
.c-kanban.carousel .swiper-pagination-bullet {
  display: block;
  margin: 7px auto;
  width: 10px;
  height: 10px;
  opacity: 1;
  border-radius: 8px;
  transition: background-color 0.5s;
  background-color: transparent;
  border: 1px solid #fff;
}
.c-kanban.carousel .swiper-pagination-bullet-active {
  background: #fff;
}
.c-kanban.carousel .swiper-horizontal > .swiper-pagination-bullets,
.c-kanban.carousel .swiper-pagination-bullets.swiper-pagination-horizontal,
.c-kanban.carousel .swiper-pagination-custom, .c-kanban.carousel .swiper-pagination-fraction {
  bottom: 35px;
}
.c-kanban__list {
  z-index: 2;
  width: 100%;
  line-height: 0;
  aspect-ratio: 1920/975;
  min-height: 80vh;
}
.c-kanban__list a {
  display: block;
  line-height: 0;
}
.c-kanban__media {
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;
  will-change: transform;
  overflow: hidden;
}
.c-kanban__media::before {
  content: "";
  display: block;
  aspect-ratio: 1920/975;
  min-height: 80vh;
}
.c-kanban__media img, .c-kanban__media picture {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100% !important;
  width: 100% !important;
  max-width: none !important;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center center;
}
.c-kanban__media .plyr--video {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.c-kanban__media .plyr__video-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100% !important;
  padding-bottom: 56.25%;
  object-fit: cover;
  object-position: center center;
}
.c-kanban__text {
  z-index: 15;
  position: absolute;
  color: #f5eee5;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  padding-left: 0.8em;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-family: var(--ff-serif);
  opacity: 0;
}
.c-kanban__text .bedge {
  width: max(100px, 8.3vw);
  margin: 0 auto var(--gap) auto;
  transform: translateX(4%);
}
.c-kanban__text .text-gp {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.8;
}
.c-kanban__text .text-gp > * {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.c-kanban__text .text-gp .zh {
  font-size: clamp(1.66rem, 2.54vw, 2.611rem);
  font-weight: 500;
  letter-spacing: 0.31em;
  order: 2;
}
.c-kanban__text .text-gp .zh::before, .c-kanban__text .text-gp .zh::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.c-kanban__text .text-gp .zh::before {
  top: 0;
  left: 0;
}
.c-kanban__text .text-gp .zh::after {
  bottom: 0;
  right: 0;
}
.c-kanban__text .text-gp .en {
  order: 1;
  font-size: 1rem;
  letter-spacing: 0.31em;
}
.c-kanban__text .text-gp .jp {
  order: 3;
  font-size: clamp(1.22rem, 1.506vw, 1.5rem);
  letter-spacing: 0.27em;
}

@media (min-aspect-ratio: 16/9) {
  .plyr--video, iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .plyr--video, iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}
.c-kanban.page.carousel .swiper-slide-active .c-kanban__media {
  animation: ani_kanban_in 1s both;
}
.c-kanban.page .c-kanban__list {
  aspect-ratio: 1920/650;
  min-height: 240px;
}
.c-kanban.page .c-kanban__media::before {
  aspect-ratio: 1920/650;
  min-height: 240px;
}
.c-kanban.page .c-kanban__text {
  padding-bottom: 1.1em;
}
.c-kanban.page .c-kanban__text::after {
  left: 50%;
  width: calc(var(--fs-head-title) * 1.66);
  margin-left: calc(var(--fs-head-title) * -0.833);
}
.c-kanban.page .c-kanban__title {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: var(--fs-head-title);
}
.c-kanban.page .c-kanban__subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: var(--fs-list-title);
  margin: 0 auto 0.5em;
}

@media (max-width: 839px) {
  .c-kanban .scrolldown {
    bottom: 5px;
    filter: brightness(30%) invert(1);
  }
  .c-kanban.carousel .swiper-button-prev {
    left: 10px;
  }
  .c-kanban.carousel .swiper-button-next {
    right: 10px;
  }
  .c-kanban.carousel .swiper-button-prev, .c-kanban.carousel .swiper-button-next {
    color: var(--kanban-button);
  }
  .c-kanban.carousel .swiper-button-prev:after, .c-kanban.carousel .swiper-button-prev:after, .c-kanban.carousel .swiper-button-next:after, .c-kanban.carousel .swiper-button-next:after {
    font-size: 1.5rem;
  }
  .c-kanban__list {
    aspect-ratio: 900/975;
  }
  .c-kanban__media::before {
    aspect-ratio: 900/975;
  }
  .c-kanban__text .text-gp .zh {
    font-size: 1.33rem;
  }
  .c-kanban__text .text-gp .jp {
    font-size: 0.99rem;
  }
  .c-kanban__text .text-gp .en {
    font-size: 0.66rem;
  }
  .c-kanban.page.carousel {
    aspect-ratio: 1000/500;
  }
  .c-kanban.page .c-kanban__media::before {
    padding-bottom: 50%;
  }
}