@charset "UTF-8";
/* 
 * Font
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
/* ==== 宣告 全域設定 ==== */
:root {
  --line-height-default: 2;
  --color-primary: #1FAC79;
  --color-secondary: #0aa073;
  --fsize-default: 16px;
  --fs-subhead: clamp(1.388em, 1.57vw, 1.66em);
  --fz-h1: clamp(1.625rem, 2.5vw, 2rem);
  --fz-h2: clamp(1.4125rem, 2.5vw, 1.875rem);
  --fz-h3: clamp(1.375rem, 2.5vw, 1.625rem);
  --fz-h4: clamp(1.25rem, 2.5vw, 1.5rem);
  --fz-h5: clamp(1.1875rem, 2vw, 1.4125rem);
  --fz-h6: clamp(1.125rem, 1.8vw, 1.375rem);
  --fz-sm: 0.9375em;
  --w-container: 1420px;
  --w-container-lg: 1740px;
  --h-btn: 48px;
  --h-btn-lg: 54px;
  --h-header: 90px;
  --gap: 25px;
  --padding-spac: 25px;
}

/* ==== RESET ==== */
html {
  font-size: 10px;
  line-height: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
  font-size: 1.6rem;
  color: #444444;
  word-wrap: break-word;
  line-height: var(--line-height-default);
  background-color: #ffffff;
  overflow-x: hidden !important;
}

* {
  backface-visibility: hidden;
  box-sizing: border-box;
}

a {
  color: #444444;
  outline: none;
  transition: all 0.35s ease-in-out;
}
a:hover {
  color: var(--color-primary);
}

a {
  text-decoration: none;
}
a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  margin: 0;
}

ol {
  list-style: decimal;
  padding: 0 0 0 1em;
  margin: 0;
}
ol li {
  margin: 0;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  object-position: center;
  object-fit: cover;
}

input, button, textarea, select {
  font: inherit;
}

/**!
 * * 保留BS v3隱藏/顯示的樣式 https://getbootstrap.com/docs/3.4/customize/
 * * Bootstrap v3.4.1 (https://getbootstrap.com/)
 * * Copyright 2011-2019 Twitter, Inc.
 * * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/**! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

[role=button] {
  cursor: pointer;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-print,
.visible-print-block,
.visible-print-inline,
.visible-print-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.disabled,
.disabled:hover {
  cursor: not-allowed;
}

/* 
 * Contact
 */
.apply-form {
  padding-top: var(--gap);
}

.contact-columns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.contact-columns .right {
  flex: 0 0 max(280px, 30%);
}
.contact-columns .left {
  flex: 1 1 70%;
  padding-right: var(--gap-v-sm);
}

.contact-info {
  font-style: normal;
}
.contact-info .title {
  display: block;
  font-size: var(--fs-h4);
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  font-weight: 500;
  color: #000;
  border-left: 4px solid #000;
  max-width: 250px;
  line-height: 1.4;
}
.contact-info ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
.contact-info ul > li {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 38px;
}
.contact-info ul .stit {
  display: block;
  font-style: normal;
  color: var(--color-second2);
  font-size: calc(var(--fs-def) * 0.888);
}
.contact-info ul .stit svg {
  position: absolute;
  left: -30px;
  top: 3px;
  width: 26px;
}
.contact-info ul a {
  color: inherit;
  text-decoration: none;
}
.contact-info ul a:hover {
  color: var(--color-second2);
}

@media (max-width: 991px) {
  .contact-columns {
    display: block;
  }
  .contact-columns .left {
    padding-right: 0;
  }
  .contact-columns .right {
    margin-bottom: var(--gap);
  }
  .contact-info .title {
    max-width: none;
  }
}
@media (min-width: 580px) and (max-width: 991px) {
  .contact-info ul {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-info ul > li {
    display: inline-block;
    flex: 0 0 50%;
  }
}
@media (max-width: 579px) {
  .contact-info ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/* 
 * Form
 */
.form-subhead {
  font-size: var(--fs-h3);
  font-weight: 500;
  border-left: 6px solid var(--color-second2);
  color: var(--color-second2);
  line-height: 1.4;
  margin: 0.5em 0;
  padding: 0 0 0 1em;
}

.star {
  display: inline;
  font-size: 0;
  margin: 0 2px 0 0;
}
.star::before {
  content: "*";
  font-size: var(--fs-def);
  color: red;
  font-style: normal;
  font-family: "Arial", sans-serif;
}

.form-foot {
  display: flex;
  gap: 0 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.form-foot .button.submit {
  flex: 0 0 230px;
}
.form-foot .form-code {
  flex-basis: auto;
  width: auto;
  flex-grow: 0;
  display: inline-flex;
  justify-content: flex-start;
}

.form-box {
  margin: 0 0 10px;
}
.form-box.form-code {
  padding-right: 220px;
}
.form-box.form-code .input-style {
  max-width: 200px;
}
.form-box.form-code .input-style.full {
  max-width: none;
  width: 100%;
}
.form-box.form-code .captcha-box {
  bottom: 0;
  position: absolute;
  right: 0;
}
.form-box.form-sex {
  padding-right: 180px;
}
.form-box.form-sex .sex-box {
  min-height: var(--h-btn);
  bottom: 0;
  position: absolute;
  right: 0;
  display: flex;
  gap: 0 1em;
  width: 170px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form-box.form-inline {
  padding-left: 125px;
}
.form-box.form-inline .label-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  text-align: right;
  padding: 0.25em 0;
}
.form-box.form-half {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 19px);
}
.form-box.form-half.odd {
  margin-right: 30px;
}
.form-box.form-half.even {
  margin-right: 0;
}

.date-box {
  display: flex;
  gap: 10px 15px;
}
.date-box > div {
  display: flex;
  gap: 0 15px;
}
.date-box span, .date-box label {
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  font-size: calc(var(--fs-def) * 0.88);
  line-height: var(--h-btn);
  padding: 0 5px 0 0;
}

.captcha-box {
  display: inline-flex;
  width: 210px;
  gap: 0 5px;
}
.captcha-box img {
  flex-grow: 1;
  object-fit: fill;
  max-height: var(--h-btn);
}
.captcha-box .button {
  flex-shrink: 0;
  flex-grow: 0;
  width: var(--h-btn);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.captcha-box .button:active {
  background-color: var(--color-second2);
  color: #fff;
}
.pc .captcha-box .button:hover {
  background-color: var(--color-second2);
  color: #fff;
}

.input-style {
  width: 100%;
  height: var(--h-btn);
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 12px;
  outline: none;
}
.input-style.full {
  max-width: none;
  width: 100%;
}
.input-style.short {
  display: inline-block;
  width: auto;
  min-width: 160px;
}

.js-datepicker-date, .js-datepicker-month {
  padding-right: 40px;
  background-image: url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg'  width='24'  height='24'  viewBox='0 0 24 24'  fill='none'  stroke='%23555'  stroke-width='1.4'  stroke-linecap='round'  stroke-linejoin='round'  class='icon icon-tabler icons-tabler-outline icon-tabler-calendar-event'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z' /%3E%3Cpath d='M16 3l0 4' /%3E%3Cpath d='M8 3l0 4' /%3E%3Cpath d='M4 11l16 0' /%3E%3Cpath d='M8 15h2v2h-2z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px auto;
}

.textarea-style {
  width: 100%;
  height: 110px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid transparent;
  padding: 5px 12px;
  margin: 0;
}
.textarea-style:focus {
  border-color: var(--color-second2);
}

.select-style {
  width: 100%;
  height: var(--h-btn);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.04) url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg'  width='24'  height='24'  viewBox='0 0 24 24'  fill='none'  stroke='%23222'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  class='icon icon-tabler icons-tabler-outline icon-tabler-chevron-down'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 9l6 6l6 -6' /%3E%3C/svg%3E") no-repeat calc(100% - 8px) 45%/20px auto;
  border: 1px solid transparent;
  padding: 0 12px;
  appearance: none;
}
.select-style::-ms-expand {
  display: none;
}
.select-style.short {
  width: auto;
  min-width: 120px;
}
.select-style:focus {
  border-color: var(--color-second2);
}
.select-style option[disabled] {
  color: #ccc;
}

.label-style {
  display: block;
  font-size: calc(var(--fs-def) * 0.888);
  color: #000;
  margin-bottom: 5px;
}
.label-style .en {
  color: #666;
  margin-left: 5px;
  font-size: calc(var(--fs-def) * 0.77);
}

.radio-style, .checkbox-style {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}
.radio-style input, .checkbox-style input {
  outline: none;
  z-index: -100 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  opacity: 0;
  appearance: none;
}
.radio-style input + label, .checkbox-style input + label {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 25px;
  margin: 0 0 5px;
  font-size: calc(var(--fs-def) * 0.88);
}
.radio-style input + label i, .checkbox-style input + label i {
  font-style: normal;
  width: 18px;
  height: 18px;
  padding: 3px;
  position: absolute;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #fff;
  top: 0.35em;
  left: 0;
}
.radio-style input + label i::before, .checkbox-style input + label i::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
  transform: scale(0);
  border-radius: 30px;
  transition: transform 0.2s;
}
.radio-style input:checked + label i, .checkbox-style input:checked + label i {
  border-color: #ccc;
}
.radio-style input:checked + label i::before, .checkbox-style input:checked + label i::before {
  transform: scale(1);
}
.radio-style:hover input + label i, .radio-style:active input + label i, .checkbox-style:hover input + label i, .checkbox-style:active input + label i {
  border-color: #666;
}
.radio-style:hover input + label i::before, .radio-style:active input + label i::before, .checkbox-style:hover input + label i::before, .checkbox-style:active input + label i::before {
  background-color: #ddd;
}
.radio-style:hover input:checked + label i, .radio-style:active input:checked + label i, .checkbox-style:hover input:checked + label i, .checkbox-style:active input:checked + label i {
  border-color: #ccc;
  background: #fff;
}
.radio-style:hover input:checked + label i::before, .radio-style:active input:checked + label i::before, .checkbox-style:hover input:checked + label i::before, .checkbox-style:active input:checked + label i::before {
  background-color: var(--color-main);
}

.form-msg {
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
  margin-bottom: var(--gap);
}
.form-msg svg {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .form-box.form-inline {
    padding-left: 0;
  }
  .form-box.form-inline .label-style {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    text-align: left;
    padding: 0;
    font-size: calc(var(--fs-def) * 0.88);
  }
  .form-box.form-code {
    display: block;
  }
  .form-box.form-code .input-style {
    max-width: none;
  }
  .form-box.form-half {
    display: block;
    width: 100%;
  }
  .form-box.form-half.odd {
    margin-right: 0;
  }
  .form-box.form-half.even {
    margin-right: 0;
  }
  .form-foot {
    display: block;
  }
  .form-foot .button.submit {
    display: block;
    margin: var(--gap) auto;
  }
}
.fieldset-style {
  padding: 0;
  margin: 0;
  border: none;
}

@media (max-width: 579px) {
  .form-box.form-code {
    padding-right: 190px;
  }
  .captcha-box {
    width: 180px;
  }
  .form-foot .button.submit {
    width: 100%;
  }
  .date-box {
    flex-wrap: wrap;
  }
}
@media (max-width: 399px) {
  .form-box.form-sex {
    padding-right: 0;
  }
  .form-box.form-sex .sex-box {
    position: relative;
  }
  .form-box.form-code {
    padding-right: 0;
  }
  .form-box.form-code .captcha-box {
    position: relative;
  }
}
/* 
 * Header
 */
.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.35s ease;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  height: var(--h-header);
  display: flex;
  align-items: center;
}
.header .w-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.nav-brand {
  display: flex;
  margin: 1rem;
  width: auto;
  height: 30px;
  gap: 1rem;
}
.nav-brand span {
  display: flex;
  align-items: center;
}

/* 其他選單 qlink */
.nav-links {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  margin-left: 1rem;
}
.nav-links > li {
  position: relative;
  padding: 1rem 0;
}
.nav-links > li > a,
.nav-links > li .dropdownToggle a {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  padding: 1rem;
  white-space: nowrap;
  color: #444444;
  line-height: 1;
  transition: color 0.25s;
}
.nav-links > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s ease-in-out;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  background-color: #fff;
}
.nav-links > li > ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-links > li > ul li:last-child {
  border-bottom: none;
}
.nav-links > li > ul li a {
  display: block;
  padding: 0.25rem 1.2rem;
  color: #666;
  background-color: #fff;
  transition: background-color 0.2s;
}
.nav-links > li > ul li a.current, .nav-links > li > ul li a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.nav-links > li > ul li:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}
.nav-links > li > ul li:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}
.nav-links .language.is-open > a,
.nav-links .language.is-open .dropdownToggle a,
.nav-links .language-clicked.is-open > a,
.nav-links .language-clicked.is-open .dropdownToggle a {
  color: var(--color-primary);
}
.nav-links .language.is-open > ul,
.nav-links .language-clicked.is-open > ul {
  display: block;
}
.nav-links .search > a {
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.25s;
}

.search-switch.is-open svg,
.pc .search-switch:hover svg {
  color: var(--color-primary);
}

.search-box {
  pointer-events: none;
  position: fixed;
  z-index: 10;
  top: calc(var(--h-header) + 30px);
  left: 0;
  padding: max(2.5vw, 15px) calc(var(--padding-spac) - 10px);
  width: 100%;
  opacity: 0;
  background-color: #222222;
  -webkit-transition: top 0.35s, opacity 0.35s;
  transition: top 0.35s, opacity 0.35s;
}
.search-box.is-open {
  pointer-events: auto;
  top: var(--h-header);
  transform: translateY(0%);
  opacity: 1;
}
.search-box .wrap {
  position: relative;
  margin: 0 auto;
  max-width: 470px;
  display: flex;
}
.search-box .search-form {
  width: 100%;
  position: relative;
  margin: 0;
}
.search-box .search-form .input-style {
  height: var(--h-btn-lg);
  line-height: var(--h-btn-lg);
  border-radius: 100px;
}
.search-box .search-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid transparent;
  border-radius: 50rem;
  background-color: #fff;
  color: var(--color-primary);
  padding: 0.25rem 1rem;
  width: var(--h-btn-lg);
  height: var(--h-btn-lg);
  transition: all 0.25s;
}
.search-box .search-btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}
.search-box .search-close {
  width: 40px;
  height: var(--h-btn-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box .search-close svg {
  transform: scale(1.3) rotate(-360deg);
  transition: all 0.35s ease-in-out;
}
.search-box .search-close:hover svg {
  transform: scale(1.3) rotate(-180deg);
}

@media (min-width: 767px) {
  .nav-links > li:hover > a {
    color: var(--color-primary);
  }
  .nav-links .language:hover ul {
    display: block;
    opacity: 1;
    animation: ani_fade_in 0.25s both;
  }
  .nav-links .search > a:hover {
    background-color: #ff7a7a;
    color: #fff;
  }
}
@media (max-width: 766px) {
  .nav-links {
    margin-left: auto;
  }
  .lang-switch.is-open > ul {
    display: block;
    opacity: 1;
  }
}
/* 選單按鈕 */
.nav-switch {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0.5rem;
}
.nav-switch span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 2px;
  background-color: var(--color-primary);
  transform: translate(-50%, -50%) rotate(0);
  transform-origin: center;
  transition: margin 0.35s 0.3s, transform 0.35s;
}
.nav-switch span:nth-child(1) {
  margin-top: -15%;
}
.nav-switch span:nth-child(2) {
  transition: opacity 0.35s;
}
.nav-switch span:nth-child(3) {
  margin-top: 15%;
}
.nav-switch.is-open span:nth-child(1) {
  margin-top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: margin 0.35s, transform 0.35s 0.3s;
}
.nav-switch.is-open span:nth-child(2) {
  opacity: 0;
}
.nav-switch.is-open span:nth-child(3) {
  margin-top: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: margin 0.35s, transform 0.35s 0.3s;
}

@media (max-width: 766px) {
  .nav-switch {
    display: block;
  }
}
/* menu 主選單 */
.navbar {
  display: flex;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 var(--gap);
}
.menu > li {
  position: relative;
  padding: 1rem 0;
  height: var(--h-header);
  align-content: center;
}
.menu > li > a {
  white-space: nowrap;
  font-size: var(--fsize-default);
  color: #000;
  padding: 1rem;
}
.menu > li > ul {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 180px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-top: 2px solid var(--color-primary);
  transition: all 0.25s;
}
.menu > li > ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu > li > ul li:last-child {
  border-bottom: none;
}
.menu > li > ul li a {
  display: block;
  padding: 0.5rem 1.2rem;
  color: #666;
  background-color: #fff;
  transition: background-color 0.2s;
}
.menu > li > ul li a.current {
  background-color: var(--color-primary);
}

@media (min-width: 767px) {
  .navbar {
    margin-left: auto;
  }
  .menu > li {
    padding: 1rem 0;
  }
  .menu > li:hover > a {
    color: var(--color-primary);
  }
  .menu > li:hover > ul {
    pointer-events: auto;
    opacity: 1;
    top: 100%;
  }
  .menu > li > ul {
    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
    min-width: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top: 2px solid var(--color-primary);
  }
  .menu > li > ul li:hover a {
    color: #fff;
    background-color: var(--color-primary);
  }
}
@media (max-width: 766px) {
  .navbar {
    display: none;
    top: var(--h-header);
    left: 0;
    right: 0;
    height: calc(100% - var(--h-header));
    position: fixed;
    transform: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .menu {
    gap: 0;
    flex-wrap: wrap;
  }
  .menu > li {
    width: 100%;
    background-color: var(--color-primary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .menu > li > a {
    display: block;
    padding: 0.75rem var(--gap);
    text-align: center;
    color: #fff;
  }
  .menu > li > ul {
    position: relative;
    display: none;
  }
  .header.is-open-nav .navbar {
    display: block;
    animation: ani_fade_in 0.25s both;
  }
  .header.is-open-nav .menu > li.is-open > ul {
    pointer-events: auto;
    display: block;
    opacity: 1;
  }
}
/* 
 * Footer
 */
.footer {
  color: #fff;
  font-size: calc(var(--fs-def) * 0.944);
}

.f-contact {
  background: rgba(55, 143, 225, 0.1);
  color: #333;
  padding: 1em 0;
}
.f-contact ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px var(--gap);
}
.f-contact ul > li {
  white-space: nowrap;
  font-style: normal;
  text-align: center;
  flex-grow: 1;
}
.f-contact ul > li::before {
  content: "";
  background: rgba(55, 143, 225, 0.3);
  width: 1px;
  height: 1em;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--gap) * -0.5);
}
.f-contact ul > li:last-child::before {
  display: none;
}
.f-contact ul > li i {
  font-style: normal;
}
.f-contact ul > li svg {
  width: 26px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 3px;
}
.f-contact ul > li svg.icon-tabler-mail {
  margin-top: 5px;
}
.f-contact ul > li .icon {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}
.f-contact ul > li > a {
  text-align: center;
  display: inline-flex;
  color: #333;
}
.f-contact ul > li > a:acitve {
  color: var(--color-main);
  text-decoration: underline;
}

.pc .f-contact ul > li > a:hover {
  color: var(--color-main);
}

.f-bottom {
  background-color: #011D41;
  color: #fff;
  padding-top: max(var(--gap), 4.7vh);
  padding-bottom: max(var(--gap), 4.7vh);
}
.f-bottom a {
  color: #fff;
}
.f-bottom .container {
  display: flex;
  justify-content: space-between;
}
.f-bottom .left {
  flex-grow: 1;
}
.f-bottom .right {
  flex-grow: 0;
  text-align: right;
}

.pc .f-bottom a:hover {
  color: var(--color-main);
}

.f-links {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
}
.f-links [accesskey] {
  left: calc(var(--gap) * -1);
  top: 0;
}
.f-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 25px;
}
.f-links ul > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.f-links ul > li::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  left: -12px;
  top: 50%;
  margin-top: -0.5em;
}
.f-links ul > li:first-child::before {
  display: none;
}
.f-links a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.pc .f-links a:hover {
  color: #fff;
}

.f-related {
  display: flex;
  justify-content: flex-end;
  gap: 5px 1em;
  margin-bottom: 1em;
}
.f-related a {
  display: inline-block;
  vertical-align: top;
}
.f-related a img {
  max-height: 38px;
}

.subscribe-switch {
  --h-btn: 40px;
  min-width: 140px;
  height: var(--h-btn);
  background-color: var(--color-second);
  color: #fff !important;
  display: inline-block;
  line-height: var(--h-btn);
  text-align: center;
}
.subscribe-switch svg {
  margin-bottom: 3px;
}

.pc .subscribe-switch:hover {
  background-color: var(--color-second2);
  color: #fff !important;
}

@media (max-width: 1299px) {
  .f-contact ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .f-contact ul > li {
    flex-grow: 0;
  }
  .f-bottom .container {
    display: block;
    text-align: center;
  }
  .f-bottom .right {
    margin-top: 15px;
  }
  .f-links {
    margin-top: 1em;
  }
  .f-links [accesskey] {
    left: 50%;
    top: -1em;
    transform: translate(-50%, -30%);
  }
  .f-links ul {
    justify-content: center;
  }
  .f-links ul > li.last {
    flex: 0 0 100%;
  }
  .f-links ul > li.last::before {
    display: none;
  }
  .f-related {
    justify-content: center;
  }
  .f-bottom .right {
    text-align: center;
  }
}
@media (max-width: 579px) {
  .f-contact {
    padding-top: 1em;
  }
  .f-contact [accesskey] {
    left: 50%;
    top: 0;
    transform: translate(-50%, -80%);
  }
  .f-contact ul {
    display: block;
  }
  .f-contact ul > li {
    display: block;
  }
  .f-contact ul > li::before {
    display: none;
  }
}
/* 
 * 架構其他共用部分
 */
.gotop {
  position: fixed;
  right: var(--gap);
  bottom: var(--gap);
  opacity: 0;
  z-index: 150;
  cursor: pointer;
  color: #fff;
  background-color: #1FAC79;
  width: 46px;
  aspect-ratio: 1;
  border-radius: 50px;
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: center;
  transform: scale(0) translateY(25px);
  transition: transform 0.35s, opacity 0.35s;
}
.gotop svg {
  width: 100%;
  max-width: 30px;
}
.gotop.is-show {
  transform: scale(1);
  opacity: 1;
}

.pc .gotop:hover {
  color: #fff;
  background-color: #23cc8e;
  transform: translateY(-5px);
}

.mb .gotop:active {
  color: #fff;
  background-color: #23cc8e;
  transform: translateY(-5px);
}

/* 
 * Container
 */
.w-container {
  width: 100%;
  max-width: calc(var(--w-container) + var(--gap) * 2);
  margin: 0 auto;
  padding: 0 var(--gap);
}

@keyframes ani_kanban_in {
  from {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes ani_fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani_fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* 
 * Button
 */
.button {
  border: none;
  display: inline-block;
  font-size: var(--fs-btn);
  width: 170px;
  height: var(--h-btn);
  line-height: var(--h-btn);
  border-radius: 4px;
  background-color: var(--color-primary);
  color: #fff;
  white-space: nowrap;
  text-align: center;
  transition: color 0.15s, background-color 0.15s;
}

.pc .button:hover {
  background-color: var(--color-secondary);
  color: #fff;
}

.button-wrap {
  text-align: center;
  padding: var(--gap) 0;
}
.button-wrap .button {
  margin: 0 auto;
  width: 230px;
}

@media (max-width: 579px) {
  .button-wrap {
    padding: 0;
  }
  .button-wrap .button {
    width: 100%;
  }
}
.button-round {
  display: inline-block;
  font-size: calc(var(--fs-def) * 0.875);
  height: var(--h-btn);
  line-height: var(--h-btn);
  border-radius: 50px;
  background-color: var(--color-main);
  color: #fff;
  padding: 0 1em 0 0.8em;
  white-space: nowrap;
  text-align: center;
  transition: color 0.15s, background-color 0.15s;
}
.button-round svg {
  max-width: 1.5em;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25em;
}

.pc .button-round:hover {
  background-color: var(--color-main2);
  color: #fff;
}